<script src="./js/jquery-1.11.0.js"></script>

<div>
   <!--nav bar-->
   <div class = "navbar-nav">
    <ul>
      <li class = "nav-link"><a class="nav-link" href="/homeScreen">Home</a><div class = "underline"></div></li>
      <li class = "nav-link"><a href="/budget">Budget</a><div class = "underline"></div></li>
      <li class = "nav-link"><a href="/listOfSpending">List of Spending</a><div class = "underline"></div></li>
      <li class = "nav-link"><a href="/faq">FAQ</a><div class = "underline"></div></li>
    </ul>
  </div>
