<!doctype html>

<html>
<head>
	<title>BudgetNauts</title>
	<link rel="shortcut icon" href ="images/batLogo2.png"/>
	<meta charset="utf-8">
	<meta name = "viewport" content="device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/menuButton.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

</head>

<body>

	<!-- <nav class="navbar navbar-expand-sm bg-info navbar-dark">
	  Brand/logo
	  <a class="navbar-brand" href="/homeScreen">
	    <img src="/images/homeIcon.png" alt="logo" style="width:40px;">
	  </a>-->

	 <!--nav bar-->

{{> header}}
<div class="container">
	<br>
	<h1>Welcome to Budget Bat!</h1>
	<br>

    <div>

    	<h1>Amount Left: </h1>

    	<span id="borderLeftover">{{leftover}}</span>

    </div>
    <br>
</div>
{{#if pageB}}  <div style = "float:right;">
		<a href="#" id = "button" class = "button">+</a>
	</div>
	<div class = "bg-modal">
				<div class = "modal-content">
					<div class = "close">+</div>
					<form method = "get" action = "/addHomeScreen" style="text-align: center">
						<h1>+</h1>
						<input type = "date" placeholder="Date" name="date">
						<input type = "text" placeholder="Name" name="name">
						<input type = "text" placeholder="Category" name="category">
						<input type = "text" placeholder="Price" name="price">
						<input type ="submit" id = "add" class = "button">
					</form>
				</div>
			</div>
	{{else}}{{/if}}
    <!--
		<div class="progress">
	   <div class="progress-bar bg-primary" style="width:40%">
	     Clothing
	   </div>
	   <div class="progress-bar bg-warning" style="width:10%">
	     Food
	   </div>
		 <div class="progress-bar bg-danger" style="width:20%">
	     Bills
	   </div>
		 <div class="progress-bar bg-success" style="width:30%">
		 	 Money Leftover
	  </div>
	 </div>
<<<<<<< HEAD

</div>
=======
	 <div class="progress">
	 	{{#each purchase}}
			<div class="progress-bar bg-primary" id='progress-bar' style="width:10%">
				{{category}}
			</div>
		{{/each}}
		</div>
</div>-->




<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="./js/homeScreen.js"></script>
<script src="./js/menuButton.js"></script>
</body>
</html>
