<!doctype html>

<html>
 <head>
    <title>List Of Spending</title>
    <link rel="shortcut icon" href ="images/batLogo2.png"/>

  <meta name = "viewport" content="device-width, initial-scale=1.0">
  {{> cssStyles}}




 </head>

<body>

{{> header}}

    <table class='table-striped ' id = "table1">
      <thead>
          <th>Date</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
      </thead>

      <tbody>
      	{{#each purchase}}

          	<td data-label = "Date">{{date}}</td>
          	<td data-label = "Name">{{name}}</td>
          	<td data-label = "Category">{{category}}</td>
          	<td data-label = "Price">${{price}}</td>
            <td class = "text-center"><button type = "button" class = "btn" id="remove">Remove</button></td>
        	</tr>
    	</div>
        {{/each}}
      </tbody>
    </table>

{{> bootstrapFiles}}

<script src="./js/menuButton.js"></script>
<script src="./js/listOfSpending.js"></script>


</body>
</html>
